postnumer.txt
gotuskra.txt
/iceaddr.db
ornefni.shp
venv/
STADFANG.dsv
__pycache__/
*.py[cod]
*$py.class/
/dist/
*.egg-info
*.shp
p3*/
/stadfangaskra.db
ornefni.gpkg
venv
*.zip
*.csv
.vscode
*.pyc
.coverage
.coverage.*
*.gpkg
.claude
