name: tests

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.14"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install uv
          uv pip install --system ".[dev]"
      - name: Run ruff linter
        run: |
          ruff check src/iceaddr
      - name: Type check with pyright
        run: |
          python -m pyright src/iceaddr
      - name: Test with pytest
        run: |
          python -m pytest -vvv
